@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');



#project-instructions {
  font-family: "Tilt Neon" !important;
  text-align: center;
  transform: translateX(150px) translateY(-13px) rotate(-5deg);
  font-size: 1.5rem;
  position: relative;
  color: white;
  text-shadow: 0px 0px 5px white, 0px 0px 10px white;
  // animation: textFlickerPink 7s linear infinite;
}

#project-header-parent {
  position: relative;
}

.project-header {
  text-align: center !important;
  font-family: "Shorelines", cursive;
  z-index: 9999;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unset;
  rotate: -15deg;
  // opacity: .8;
  color: white !important;
  // &:before {
  //   color: white;
  //   content: "";
  //   position: absolute;
  //   border: 8px solid rgba(255, 255, 255, 0.8);
  //   background-color: rgba(0, 0, 0, 0.5);
  //   -webkit-backdrop-filter: blur(5px);
  //           backdrop-filter: blur(5px);
  //   z-index: -1;
  //   border-radius: 50%;
  //   height: 200px;
  //   width: 200px;
  //   box-shadow: 0px 0px 4px white, inset 0px 0px 4px white,
  //     0px 0px 50px $lightpink, 0px 0px 30px $lightpink,
  //     inset 0px 0px 10px $lightpink;
  //   @media (max-width: 650px) {
  //     height: 150px;
  //     width: 150px;
  //     border-width: 5px !important;
  //   }
  // }
  @media (max-width: 650px) {
    font-size: 3rem !important;
  }

}

.project-header-glow {
  color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(22, 115, 255, 0.6),
      0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgba(22, 115, 255, 1);
    animation: newFlicker 5s linear infinite;
}

#projectsParent {
  position: relative;
  margin: auto;
  z-index: 10000;
  width: 100%;
  // width: 1580px;
}

#project-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-wrap: wrap;
  overflow: visible;
  gap: .5rem;
  padding: 1%;
  background: radial-gradient(circle at center, rgba(41, 0, 23, 0.6) 0%, rgba(0, 0, 0, 0) 90%);

  @media screen and (max-width: 800px) {
    flex-direction: column !important;
  }
  #indivProject {
    z-index: 2000;
    overflow: visible;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    #content {
      position: relative;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      text-align: center;
      height: 100%;
      // background: black;
      border-radius: 30px;
      position: relative;
      overflow: visible;

      #screenShot {
        opacity: 1 !important;
        border-radius: 3px;
        // border: 3px solid black;
        // transform: rotate(random(5) + deg);
        z-index: 300;
        width: 100%;
        min-height: 100%;
        position: relative;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: top left;
           object-position: top left;
        // border-radius: 30px 30px 0 0;
        img {
          image-rendering: crisp-edges;
        }
      }
    }

    #projectStuff {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      flex-wrap: nowrap;
      align-items: center;
      margin: auto;    
      border: none;
      width: 90%;
      position: absolute;
      bottom: 10%;
      // line-height: 2.5rem;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      line-height: 2rem;
      z-index: 9999;
      // overflow: hidden;
      h2 {
        font-size: 2rem;
        color: white;
        // -webkit-text-stroke: 2px $blackolive;
      }
    }

  }
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer !important;

}

.flip-card {
  perspective: 2000px;
  will-change: transform;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
	transition: transform 0.36s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 1000 !important;
}

.flip-card.flipped {
  transform: rotateY(170deg) rotateX(15deg) rotateZ(2deg) scale(1.2);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-shadow: .7px .7px 0px rgba(0,0,0,0.4);

}

.flip-card-front {
  // background-color: $darkblue;
  box-shadow: 14px 7px 30px 2px rgba(0,0,0,0.3), 2px 2px 10px 3px rgba(0,0,0,0.3);
  // border-top: 1px solid rgba(255, 255, 255, 0.3);
  // border-left: 1px solid rgba(255, 255, 255, 0.3);
  // color: white;
        &:before {
        content: "";
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: 2000;
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
        box-shadow: 0px 0px 10px black, 0px 0px 5px black;
      }
      &:after {
        content: "";
        position: absolute;
        top: 2%;
        left: 2%;
        z-index: 2000;
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
        box-shadow: 0px 0px 10px black;

      }
}

.flipped.card-content {
  background: black !important;
}

.flip-card-back {
  // background-color: $midred;
  transform: rotateY(180deg) translateZ(1px); /* Adjust the translateZ value as needed */
  // box-shadow: inset 0px 0px 12px 5px $lightpink, inset 0px 0px 4px 4px rgba(255, 255, 255, 0.3) !important;
  border-radius: 5px;
  p {
    font-family: "Oswald";
    font-size: 1.2rem;

  }
  #projectLinkText {
    font-family: "Oswald";
    font-size: 1.5rem;
    position: absolute;
    top: 8%;
    left: 5%;
    rotate: -30deg;
    opacity: 0.8;
  }
  
  #projectStuffBack {
    font-family: "Oswald";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: black;
    h2 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      padding-bottom: 5%
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
    }

  }

  #projIcon {
    width: 50%;
    opacity: 0.8;
    rotate: -20deg;
    position: absolute;
    bottom: -7%;
    right: -5%;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    // color: white;
    font-family: "Neucha", cursive;
  }

  overflow: hidden;
  position: relative;
      // &:before {
      //   content: "";
      //   position: absolute;
      //   background-color: lightgrey;
      //   mix-blend-mode: multiply;
      //   opacity: 0.7;
      //   border-radius: 50%;
      //   $pValue: -3%;
      //   top: $pValue;
      //   left: $pValue;
      //   right: $pValue;
      //   bottom: $pValue;
      //   z-index: -1;
      //   rotate: 20deg;
      // }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  height: 100%;
  padding: 3px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: $seashell;
  padding: 0;
  opacity: 0.5;
}

#skillList {
  position: relative;
  font-family: "Oswald";
  font-size: 1.2rem;
  //italicize
  font-style: italic;
  font-weight: 200;
}
 
//loveself
.mossgreen {
  background: $mossgreen;
  #projectStuff {
    &:before {
      background-color: $applegreen;
    }
    background: $mossgreen;
    rotate: 5deg;
  }
}

//joshsite
.chocolate {
  // background: linear-gradient(to bottom right, $midred 0%, $chocolate 100%);
  background: $midred;
  #projectStuff {
    &:before {
      background-color: $midred;
    }
    background: $midred;
    rotate: -2deg;
  }
}

//clickbait
.tangerine {
  // background: linear-gradient(to bottom right, $moonyellow 0%, $tangerine 100%);
  background: $tangerine;
  #projectStuff {
    &:before {
      background-color: $tangerine;
    }
    background: $tangerine;
    rotate: 2deg;
  }
}

.flip-card-back.tangerine {
  background: url("/src/assets/screenshots/clickbaitBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 3px solid $tangerine;
}

.flip-card-back.iceblue {
  background: url("/src/assets/screenshots/orfuBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 3px solid $lightblue;
}

.flip-card-back.mossgreen {
  background: url("/src/assets/screenshots/loveselfBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 3px solid $mossgreen;
}

.flip-card-back.chocolate {
  background: url("/src/assets/screenshots/joshBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 3px solid $midred;
  h2,p{
    color: white !important;
  }
}

.flip-card-back.brightpink {
  background: url("/src/assets/screenshots/portBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 3px solid $lightpink;
  h2,p{
    color: white !important;
  }
}
 

//orfu
.iceblue {
  background: $lightblue;
  #projectStuff {
    &:before {
      background-color: $lightblue;
    }
    background: $lightblue;
    rotate: 2deg;
  }
}

//oldSite
.brightpink {
    background: $lightpink;
    #projectStuff{
      background: $lightpink;
      rotate: 6deg;

      &:before {
        background-color: $lightpink;
      }
    }
  }