@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
.applegreen {
  background-color: #acc12f;
  color: #423e3b;
  border-color: #423e3b;
}
.applegreen .h-divider {
  background-color: #423e3b;
}
.applegreen #projectStuff:before {
  background-color: #6c7d47;
}

.jet {
  background-color: #3a3335;
}
.jet #projectStuff:before {
  background-color: #c6d8d3;
}

.ash {
  background-color: #c6d8d3;
  color: #3a3335;
  border-color: #3a3335;
}
.ash .h-divider {
  background-color: #3a3335;
}
.ash #projectStuff:before {
  background-color: #55034e;
}

.blackbean {
  background-color: #2e0e02;
}
.blackbean #projectStuff:before {
  background-color: #55034e;
}

.darkgreen {
  background-color: #002e2c;
}
.darkgreen #projectStuff:before {
  background-color: #55034e;
}

.blackolive {
  background-color: #423e3b;
}
.blackolive #projectStuff:before {
  background-color: #55034e;
}

@-webkit-keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
    filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
  }
  20%, 24%, 55% {
    -webkit-filter: none;
    filter: none;
  }
}
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
    filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
  }
  20%, 24%, 55% {
    -webkit-filter: none;
    filter: none;
  }
}
@-webkit-keyframes textFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlickerPink {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(255, 22, 224, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(255, 92, 247, 0.6), 0 0 20px rgba(232, 22, 255, 0.9), 0 0 30px rgb(255, 22, 197); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlickerYellow {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(232, 255, 22, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(236, 255, 92, 0.6), 0 0 20px rgba(255, 239, 22, 0.9), 0 0 30px rgb(255, 255, 22); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
.brickWallBig2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/src/assets/images/newBricks3.png");
  background-size: contain;
  background-repeat: repeat;
  box-sizing: border-box;
  z-index: 100 !important;
  border-radius: 20px;
}
.brickWallBig2 img {
  border-radius: 50px;
}
@media screen and (max-width: 650px) {
  .brickWallBig2 {
    display: none;
  }
}

#brickWallBGBig2 {
  position: absolute;
  top: 0;
  left: 1%;
  right: 1%;
  bottom: 0;
  z-index: 90 !important;
  border-radius: 20px;
  background-color: rgb(22, 29, 45);
}
@media screen and (max-width: 650px) {
  #brickWallBGBig2 {
    left: 0;
    right: 0;
    opacity: 0.5;
  }
}
@media screen and (max-width: 650px) {
  #brickWallBGBig2 {
    display: none;
  }
}

.neonBorderThin {
  background: url("/src/assets/images/bricks.png") #6d72c3;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
}
.neonBorderThin:before {
  height: 100%;
  width: 100%;
  content: "";
  border: 6px solid white;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px 6px rgba(194, 255, 175, 0.6), 0px 0px 0px 40px rgba(22, 255, 34, 0.1), 0px 0px 0px 15px rgba(22, 255, 30, 0.3), inset 0px 0px 0px 5px rgba(184, 255, 189, 0.6), inset 0px 0px 0px 12px rgba(53, 255, 46, 0.3);
}
.neonBorderThin img {
  border-radius: 50px;
}

.neonText {
  -webkit-animation: textFlicker 5s linear infinite;
  animation: textFlicker 5s linear infinite;
  z-index: 1000;
  text-align: center;
  color: white;
}

.neonBorder {
  position: relative;
  border-radius: 50px;
  box-sizing: border-box;
}
.neonBorder:before {
  height: 100%;
  width: 100%;
  content: "";
  border: 8px solid white;
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 0px 12px rgba(175, 176, 255, 0.6), 0px 0px 0px 60px rgba(22, 34, 255, 0.1), 0px 0px 0px 30px rgba(22, 115, 255, 0.3), inset 0px 0px 0px 10px rgba(184, 208, 255, 0.6), inset 0px 0px 0px 24px rgba(46, 105, 255, 0.3);
}
.neonBorder img {
  border-radius: 100px;
}

#project-instructions {
  font-family: "Tilt Neon" !important;
  rotate: -15deg;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  animation: textFlickerPink 7s linear infinite;
}

#project-header {
  font-size: 5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
  font-family: "Shorelines", cursive;
  font-size: 3rem;
  margin: unset;
  position: relative;
  rotate: -15deg;
  -webkit-animation: textFlickerPink 5s linear infinite;
  animation: textFlickerPink 5s linear infinite;
}
@media (max-width: 650px) {
  #project-header {
    font-size: 3rem !important;
  }
}
#project-header:before {
  content: "";
  position: absolute;
  border: 8px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 4px white, inset 0px 0px 4px white, 0px 0px 50px #efbdeb, 0px 0px 30px #efbdeb, inset 0px 0px 10px #efbdeb;
}
@media (max-width: 650px) {
  #project-header:before {
    height: 150px !important;
    width: 150px !important;
    border-width: 5px !important;
  }
}

#projectsParent {
  position: relative;
  margin: auto;
  z-index: 1000;
  width: 100%;
}

#project-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-wrap: wrap;
  overflow: visible;
  gap: 0.5rem;
  padding: 1%;
}
@media screen and (max-width: 800px) {
  #project-container {
    flex-direction: column !important;
  }
}
#project-container #indivProject {
  z-index: 2000;
  overflow: visible;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#project-container #indivProject h2 {
  font-family: "Stint Ultra Condensed";
  font-size: 2rem;
}
#project-container #indivProject #content {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-align: center;
  height: 100%;
  border-radius: 30px;
  position: relative;
  overflow: visible;
}
#project-container #indivProject #content #screenShot {
  opacity: 1 !important;
  border-radius: 3px;
  z-index: 300;
  width: 100%;
  min-height: 80%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
}
#project-container #indivProject #content #screenShot img {
  image-rendering: crisp-edges;
}
#project-container #indivProject #projectStuff {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  border: none;
  width: 100%;
  position: relative;
  z-index: 1;
}
#project-container #indivProject #projectStuff .h-divider {
  height: 1px;
  width: 15%;
}
.container {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer !important;
}

.flip-card {
  perspective: 2000px;
  will-change: transform;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.2s ease-out;
  z-index: 1000 !important;
}

.flip-card.flipped {
  transform: rotateY(170deg) rotateX(15deg) rotateZ(2deg) scale(1.2);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-shadow: 0.7px 0.7px 0px rgba(0, 0, 0, 0.4);
}

.flip-card-front {
  box-shadow: 14px 7px 30px 2px rgba(0, 0, 0, 0.3), 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
}
.flip-card-front:before {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
.flip-card-front:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.flip-card-back {
  transform: rotateY(180deg) translateZ(1px); /* Adjust the translateZ value as needed */
  box-shadow: inset 0px 0px 12px 5px #efbdeb, inset 0px 0px 4px 4px rgba(255, 255, 255, 0.3) !important;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.flip-card-back p {
  font-family: "Neucha", cursive;
  font-size: 1.2rem;
  padding: 0%;
}
.flip-card-back #projectLinkText {
  font-family: "Neucha", cursive;
  font-size: 1.5rem;
  position: absolute;
  top: 8%;
  left: 5%;
  rotate: -30deg;
  opacity: 0.8;
}
.flip-card-back #projIcon {
  width: 50%;
  opacity: 0.8;
  rotate: -20deg;
  position: absolute;
  bottom: -7%;
  right: -5%;
}
.flip-card-back ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  font-family: "Neucha", cursive;
}
.flip-card-back:before {
  content: "";
  position: absolute;
  background-color: lightgrey;
  mix-blend-mode: multiply;
  opacity: 0.7;
  border-radius: 50%;
  top: -3%;
  left: -3%;
  right: -3%;
  bottom: -3%;
  z-index: -1;
  rotate: 20deg;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  height: 100%;
  padding: 5px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #f7ebe8;
  padding: 0;
  opacity: 0.5;
}

#skillList {
  position: relative;
}

.mossgreen {
  background: linear-gradient(to right, #acc12f 0%, #6c7d47 100%);
}
.mossgreen .h-divider {
  background-color: #f7ebe8;
}
.mossgreen #projectStuff:before {
  background-color: #acc12f;
}
.mossgreen #projectStuff:before #projectStuffBack:before {
  display: none !important;
}

.chocolate {
  background: linear-gradient(to bottom right, #993955 0%, #5a2328 100%);
}
.chocolate #projectStuff:before {
  background-color: #993955;
}
.chocolate .h-divider {
  background-color: #c6d8d3;
}

.tangerine {
  background: linear-gradient(to bottom right, #fbfb98 0%, #f18701 100%);
  color: #423e3b;
}
.tangerine .h-divider {
  background-color: #423e3b;
}
.tangerine #projectStuff:before {
  background-color: #fc6471;
}

.iceblue {
  background: linear-gradient(to bottom left, #a9fff7 0%, #6d72c3 100%);
  color: #423e3b;
}
.iceblue .h-divider {
  background-color: #423e3b;
}
.iceblue #projectStuff:before {
  background-color: #6d72c3;
}

.brightpink {
  background: linear-gradient(to bottom, #efbdeb 0%, #fc6471 100%);
}
.brightpink .h-divider {
  background-color: #f7ebe8;
}
.brightpink #projectStuff:before {
  background-color: #efbdeb;
}

/*# sourceMappingURL=Projects.css.map */
