@import "./vars/_variables.scss";

.starfield {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden !important;
    background: url('/src/assets/nightSky.png/');
    background-size: 100% 100%; 
    // background: linear-gradient(
    //   to top, 
    //   $moonyellow 0%,
    //   rgb(16, 0, 30) 47%
    // );
  }
  
  .star {
    transition: box-shadow 2s ease-out;
    &:hover {
      box-shadow: 0px 0px 20px white, 0px 0px 5px white;
      transition: box-shadow 0.1s ease-in-out;
    }
  }

.plane {
  position: absolute;
  width: 50px;
  height: 22px;
  background-image: url('src/assets/cityScapes/plane.png');
  background-size: 100% 100%;
  animation: planeFly 10s linear infinite;
  top: 10%;
  z-index: 10000; 
}


@keyframes planeFly {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(100vw);
  }
}