@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
.applegreen {
  background-color: #acc12f;
  color: #423e3b;
  border-color: #423e3b;
}
.applegreen .h-divider {
  background-color: #423e3b;
}
.applegreen #projectStuff:before {
  background-color: #6c7d47;
}

.jet {
  background-color: #3a3335;
}
.jet #projectStuff:before {
  background-color: #c6d8d3;
}

.ash {
  background-color: #c6d8d3;
  color: #3a3335;
  border-color: #3a3335;
}
.ash .h-divider {
  background-color: #3a3335;
}
.ash #projectStuff:before {
  background-color: #55034e;
}

.blackbean {
  background-color: #2e0e02;
}
.blackbean #projectStuff:before {
  background-color: #55034e;
}

.darkgreen {
  background-color: #002e2c;
}
.darkgreen #projectStuff:before {
  background-color: #55034e;
}

.blackolive {
  background-color: #423e3b;
}
.blackolive #projectStuff:before {
  background-color: #55034e;
}

@-webkit-keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
    filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
  }
  20%, 24%, 55% {
    -webkit-filter: none;
    filter: none;
  }
}
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
    filter: drop-shadow(0 0 0.4rem #fff) drop-shadow(0 0 0.2rem white) drop-shadow(0 0 1rem #efbdeb) drop-shadow(0 0 2rem #efbdeb);
  }
  20%, 24%, 55% {
    -webkit-filter: none;
    filter: none;
  }
}
@keyframes newFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0;
  }
}
@-webkit-keyframes textFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlickerPink {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(255, 22, 224, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(255, 92, 247, 0.6), 0 0 20px rgba(232, 22, 255, 0.9), 0 0 30px rgb(255, 22, 197); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
@keyframes textFlickerYellow {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    color: white;
    -webkit-text-stroke: 2px rgba(232, 255, 22, 0.3); /* Outer glow color and size */
    text-shadow: 0 0 10px rgba(236, 255, 92, 0.6), 0 0 20px rgba(255, 239, 22, 0.9), 0 0 30px rgb(255, 255, 22); /* Inner glow effect */
  }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
.brickWallBig2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/src/assets/images/newBricks8.png");
  background-size: contain;
  background-repeat: space;
  box-sizing: border-box;
  z-index: 100 !important;
  border-radius: 20px;
}
.brickWallBig2 img {
  border-radius: 50px;
}
@media screen and (max-width: 650px) {
  .brickWallBig2 {
    display: none;
  }
}
.brickWallBig2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0.6%;
  right: 0.6%;
  bottom: 0;
  background: linear-gradient(to top, black 0%, transparent 10%, transparent 90%, black 100%);
  mix-blend-mode: multiply;
  opacity: 0.5;
  border-radius: 20px;
  filter: blur(5px);
}

#brickWallBGBig2 {
  position: absolute;
  top: 0;
  left: 1%;
  right: 1%;
  bottom: 0;
  z-index: 90 !important;
  border-radius: 20px;
  background-color: rgb(15, 12, 8);
}
@media screen and (max-width: 650px) {
  #brickWallBGBig2 {
    left: 0;
    right: 0;
    opacity: 0.5;
  }
}
@media screen and (max-width: 650px) {
  #brickWallBGBig2 {
    display: none;
  }
}

.neonBorderThin {
  background: url("/src/assets/images/bricks.png") #6d72c3;
  position: relative;
  border-radius: 100px;
  box-sizing: border-box;
}
.neonBorderThin:before {
  height: 100%;
  width: 100%;
  content: "";
  border: 6px solid white;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px 6px rgba(194, 255, 175, 0.6), 0px 0px 0px 40px rgba(22, 255, 34, 0.1), 0px 0px 0px 15px rgba(22, 255, 30, 0.3), inset 0px 0px 0px 5px rgba(184, 255, 189, 0.6), inset 0px 0px 0px 12px rgba(53, 255, 46, 0.3);
}
.neonBorderThin img {
  border-radius: 50px;
}

.neonText {
  z-index: 1000;
  text-align: center;
  color: white;
  will-change: text-shadow, color;
}

.neonBorder {
  position: relative;
  border-radius: 50px;
  box-sizing: border-box;
}
.neonBorder:before {
  height: 100%;
  width: 100%;
  content: "";
  border: 8px solid white;
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 0px 12px rgba(175, 176, 255, 0.6), 0px 0px 0px 60px rgba(22, 34, 255, 0.1), 0px 0px 0px 30px rgba(22, 115, 255, 0.3), inset 0px 0px 0px 10px rgba(184, 208, 255, 0.6), inset 0px 0px 0px 24px rgba(46, 105, 255, 0.3);
}
.neonBorder img {
  border-radius: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Shorelines";
  src: url("/src/assets/fonts/Shorelines Script Bold.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

#root {
  height: fit-content;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  min-width: 320px;
}
body {
  font-size: calc(15px + 0.390625vw);
}

.sectionWrapper {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: fit-content;
  width: calc(100vw - 17px);
  font-size: inherit;
}

.mobile {
  width: 100% !important;
  overflow-x: hidden !important;
}

.parallaxSetter {
  height: fit-content;
  width: fit-content;
  position: relative;
}

p {
  font-family: "Oswald";
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
}

#headshotContainer,
#resume-dl {
  border-radius: 10px;
}

#headshotContainer,
#resume-dl,
p {
  z-index: 700;
}

#aboutMeLeft {
  z-index: 600;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 3rem;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 1000px) {
  #aboutMeLeft {
    flex-direction: row !important;
    gap: 0.25rem !important;
  }
}

.mobileLeft {
  gap: 0 !important;
}

#aboutMeRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#aboutMe {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 15%;
  width: 100%;
  box-sizing: border-box;
}
#aboutMe h2 {
  font-family: "Tilt Neon";
}
#aboutMe #aboutMeContent {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 85%;
  gap: 1rem;
}
#aboutMe #aboutMeContent #aboutMeText {
  rotate: 2deg;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 600;
  background: lightgrey;
  color: black;
  padding: 1rem;
  position: relative;
  font-size: 1.2rem;
}
#aboutMe #aboutMeContent #aboutMeText:before {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#aboutMe #aboutMeContent #aboutMeText:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#aboutMe #aboutMeContent #headshotContainer {
  height: fit-content;
  width: fit-content;
  position: relative;
  rotate: 5deg;
}
#aboutMe #aboutMeContent #headshotContainer:before {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2001;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#aboutMe #aboutMeContent #headshotContainer:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2001;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#aboutMe #aboutMeContent #headshot {
  border-radius: 10px;
  width: 225px;
  height: 225px;
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  z-index: 2000;
}
@media screen and (max-width: 1000px) {
  #aboutMe #aboutMeContent {
    flex-direction: column;
  }
  #aboutMe #aboutMeContent #aboutMeText {
    width: 100%;
    margin-top: 5%;
  }
  #aboutMe #aboutMeContent #headshot {
    flex-direction: row;
  }
  #aboutMe #aboutMeContent #headshot img {
    height: 100%;
  }
}

#resume-dl {
  font-family: "Oswald";
  font-size: 2rem;
  z-index: 700;
  transform: rotate(-4deg);
  height: 250px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: lightgrey;
  padding-left: 2%;
  border-radius: 2px;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 1000px) {
  #resume-dl {
    font-size: 1.5rem;
    height: 200px !important;
  }
}
#resume-dl a {
  color: black !important;
}
#resume-dl:hover {
  transform: scale(1.2);
  box-shadow: none;
  z-index: 1000;
  cursor: pointer;
}
#resume-dl:before {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#resume-dl a {
  text-decoration: none;
  border-left: 2px solid #6d72c3;
  padding-left: 2%;
}

.mobileRes {
  width: 100px !important;
  padding: 4% !important;
  height: 80px !important;
}

input, textarea {
  font-family: "Neucha", cursive;
}

#submitButton {
  text-align: center !important;
  width: 100px;
  height: 50px;
  font-size: 2rem;
  font-family: "Stint Ultra Condensed";
  color: #3a3335 !important;
  transition: all 0.2s ease-in-out;
  background-color: #f18701;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}
#submitButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#contactParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-bottom: 5%;
}
@media screen and (max-width: 650px) {
  #contactParent {
    flex-direction: column !important;
  }
}

#contactHeader {
  position: relative;
}

#contactForm {
  width: 50%;
  border-radius: 7.5px;
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: auto;
  font-family: "Tilt Neon";
  gap: 1rem;
  z-index: 9998;
  background: lightgrey;
}
@media screen and (max-width: 650px) {
  #contactForm {
    width: 80% !important;
    margin-top: 5rem !important;
  }
}
#contactForm * {
  color: black;
}
#contactForm input[type=text], #contactForm input[type=email] {
  background: none;
  outline: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}
#contactForm label, #contactForm input[type=text], #contactForm input[type=email], #contactForm textarea {
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
}
#contactForm textarea {
  width: 100%;
  height: 15rem;
  resize: none;
  background: none;
  border-radius: 10px;
}
#contactForm:before {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}
#contactForm:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.contactH1 {
  text-align: center !important;
  font-family: "Shorelines", cursive;
  z-index: 9999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unset;
  rotate: -15deg;
  color: white !important;
}
@media (max-width: 650px) {
  .contactH1 {
    font-size: 3rem !important;
  }
}

.contactH1Glow {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
  text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255);
  animation: newFlicker 5s linear infinite;
}
.contactH1Glow:before {
  display: none !important;
}

#main-content {
  z-index: 100;
  min-width: 320px;
  max-width: 1000px;
  width: 100%;
  margin: 60rem 5% auto 5%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 5%;
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
  opacity: 0.1;
}
@media screen and (max-width: 650px) {
  #main-content {
    padding-bottom: 15% !important;
    gap: 5rem;
  }
}

#backToTop {
  cursor: pointer;
  z-index: 999;
  position: absolute;
  bottom: -1%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  font-family: "Shorelines";
  font-size: 1.8rem;
  align-items: center;
  animation: textFlickerPink 5s linear infinite;
}
#backToTop a {
  color: rgb(255, 255, 255) !important;
}
#backToTop:before {
  content: "";
  position: absolute;
  border: 4px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8), inset 0px 0px 4px rgba(255, 255, 255, 0.8), 0px 0px 50px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.8), inset 0px 0px 10px rgba(255, 255, 255, 0.8);
}
@media (max-width: 650px) {
  #backToTop:before {
    height: 150px !important;
    width: 150px !important;
    border-width: 5px !important;
  }
}
@media screen and (max-width: 650px) {
  #backToTop {
    position: static;
  }
}

#topText {
  rotate: -15deg;
}

#upArrow {
  background-image: url("/src/assets/ui-elements/downArrow3.svg/");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  rotate: 180deg;
  filter: drop-shadow(0 0 0.2rem white);
}

.fallback {
  display: flex;
  justify-content: center;
}

.neonDividerParent {
  margin: 8% auto;
  width: 50%;
  height: 50px;
  z-index: 9999;
  position: relative;
  filter: drop-shadow(0 0 0.5rem #f18701) drop-shadow(0 0 2rem #f18701) drop-shadow(0 0 1rem #f18701);
}
@media screen and (max-width: 650px) {
  .neonDividerParent {
    display: none;
  }
}
.neonDividerParent .neonDivider {
  width: 100%;
  border-radius: 100px;
  height: 100%;
  background: white;
  --mask: radial-gradient(
        53.83px at 50% calc(100% + 28px),
        #0000 calc(99% - 10px),
        #000 calc(101% - 10px) 99%,
        #0000 101%
      )
      calc(50% - 80px) calc(50% - 25px + 0.5px) / 160px 50px repeat-x,
    radial-gradient(
        53.83px at 50% -28px,
        #0000 calc(99% - 10px),
        #000 calc(101% - 10px) 99%,
        #0000 101%
      )
      50% calc(50% + 25px) / 160px 50px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

nav {
  font-family: "Tilt Neon" !important;
  z-index: 2000;
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav a {
  text-decoration: none !important;
  color: #160141;
}
@media screen and (max-width: 650px) {
  nav {
    top: -20% !important;
    right: -30% !important;
  }
}
nav.open {
  transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -140px;
  right: -140px;
  pointer-events: none;
  user-select: none;
}
nav.cornerNav {
  top: -210px !important;
  right: -210px !important;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px "Tilt Neon", sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
}
.disc div {
  transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 215, 0.3294117647);
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(rgba(255, 255, 215, 0.3294117647), 90%);
  color: white;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(rgba(255, 255, 215, 0.3294117647), 50%);
  color: rgba(255, 255, 215, 0.3294117647);
}
.open .l1.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: rgba(230, 230, 165, 0.4635294118);
  transition-delay: 0.1s;
}
.open .l2 {
  transition-delay: 0.1s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(rgba(230, 230, 165, 0.4635294118), 90%);
  color: white;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(rgba(230, 230, 165, 0.4635294118), 50%);
  color: rgba(230, 230, 165, 0.4635294118);
}
.open .l2.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: rgba(221, 221, 146, 0.5976470588);
  transition-delay: 0.2s;
}
.open .l3 {
  transition-delay: 0.2s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(rgba(221, 221, 146, 0.5976470588), 90%);
  color: white;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(rgba(221, 221, 146, 0.5976470588), 50%);
  color: rgba(221, 221, 146, 0.5976470588);
}
.open .l3.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: rgba(216, 216, 135, 0.7317647059);
  transition-delay: 0.3s;
}
.open .l4 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(rgba(216, 216, 135, 0.7317647059), 90%);
  color: white;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(rgba(216, 216, 135, 0.7317647059), 50%);
  color: rgba(216, 216, 135, 0.7317647059);
}
.open .l4.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: rgba(213, 213, 129, 0.8658823529);
  transition-delay: 0.4s;
}
.open .l5 {
  transition-delay: 0.4s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(rgba(213, 213, 129, 0.8658823529), 90%);
  color: white;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(rgba(213, 213, 129, 0.8658823529), 50%);
  color: rgba(213, 213, 129, 0.8658823529);
}
.open .l5.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background-image: url("/src/assets/ui-elements/carMoon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;
  shape-outside: circle(50%);
  clip-path: circle(50%);
}
.open .toggle {
  transform: rotate3d(0, 0, 1, 0deg);
}
@keyframes enter-from-right {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.toggle:hover {
  background: shade(rgb(211, 211, 125), 90%);
  text-decoration: underline;
}
.toggle:active {
  background: shade(rgb(211, 211, 125), 50%);
  color: rgba(211, 211, 125, 0.5);
  transform: scale(0.9);
  transition-duration: 0s;
}

.parallax-bg {
  position: fixed;
  perspective: 1000px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: visible;
  transform-style: flat;
}

.cityscape {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 400px;
  pointer-events: none;
  will-change: transform;
  overflow: visible;
  background-repeat: repeat-x;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  background-position: center bottom;
  transform-style: preserve-3d;
}

.cityBlock {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: flex-start;
  width: 100%;
  transition: all 0.5s ease-out;
}

.city-scape1 {
  background-image: url("/src/assets/ui-elements/cityScapes/SVG/cityScape1.svg");
}
@media screen and (max-width: 800px) {
  .city-scape1 {
    background-size: 200% 50% !important;
  }
}
.city-scape1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: radial-gradient(at center, #d47b82 0%, rgba(0, 0, 0, 0) 70%);
}

.city-scape2 {
  background-image: url("/src/assets/ui-elements/cityScapes/texScape2-min-cropped.png");
}
@media screen and (max-width: 800px) {
  .city-scape2 {
    background-size: 200% 50% !important;
  }
}

.city-scape3 {
  background-image: url("/src/assets/ui-elements/cityScapes/texScape3-min-cropped.png");
}
@media screen and (max-width: 800px) {
  .city-scape3 {
    background-size: 200% 50% !important;
  }
}

#project-instructions {
  font-family: "Tilt Neon" !important;
  text-align: center;
  transform: translateX(150px) translateY(-13px) rotate(-5deg);
  font-size: 1.5rem;
  position: relative;
  color: white;
  text-shadow: 0px 0px 5px white, 0px 0px 10px white;
}

#project-header-parent {
  position: relative;
}

.project-header {
  text-align: center !important;
  font-family: "Shorelines", cursive;
  z-index: 9999;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unset;
  rotate: -15deg;
  color: white !important;
}
@media (max-width: 650px) {
  .project-header {
    font-size: 3rem !important;
  }
}

.project-header-glow {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-text-stroke: 2px rgba(22, 115, 255, 0.3); /* Outer glow color and size */
  text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px rgba(22, 115, 255, 0.9), 0 0 30px rgb(22, 115, 255);
  animation: newFlicker 5s linear infinite;
}

#projectsParent {
  position: relative;
  margin: auto;
  z-index: 10000;
  width: 100%;
}

#project-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-wrap: wrap;
  overflow: visible;
  gap: 0.5rem;
  padding: 1%;
  background: radial-gradient(circle at center, rgba(41, 0, 23, 0.6) 0%, rgba(0, 0, 0, 0) 90%);
}
@media screen and (max-width: 800px) {
  #project-container {
    flex-direction: column !important;
  }
}
#project-container #indivProject {
  z-index: 2000;
  overflow: visible;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#project-container #indivProject #content {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-align: center;
  height: 100%;
  border-radius: 30px;
  position: relative;
  overflow: visible;
}
#project-container #indivProject #content #screenShot {
  opacity: 1 !important;
  border-radius: 3px;
  z-index: 300;
  width: 100%;
  min-height: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top left;
  object-position: top left;
}
#project-container #indivProject #content #screenShot img {
  image-rendering: crisp-edges;
}
#project-container #indivProject #projectStuff {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  border: none;
  width: 90%;
  position: absolute;
  bottom: 10%;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  z-index: 9999;
}
#project-container #indivProject #projectStuff h2 {
  font-size: 2rem;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer !important;
}

.flip-card {
  perspective: 2000px;
  will-change: transform;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.36s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 1000 !important;
}

.flip-card.flipped {
  transform: rotateY(170deg) rotateX(15deg) rotateZ(2deg) scale(1.2);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-shadow: 0.7px 0.7px 0px rgba(0, 0, 0, 0.4);
}

.flip-card-front {
  box-shadow: 14px 7px 30px 2px rgba(0, 0, 0, 0.3), 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
}
.flip-card-front:before {
  content: "";
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black, 0px 0px 5px black;
}
.flip-card-front:after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2000;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.flipped.card-content {
  background: black !important;
}

.flip-card-back {
  transform: rotateY(180deg) translateZ(1px); /* Adjust the translateZ value as needed */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.flip-card-back p {
  font-family: "Oswald";
  font-size: 1.2rem;
}
.flip-card-back #projectLinkText {
  font-family: "Oswald";
  font-size: 1.5rem;
  position: absolute;
  top: 8%;
  left: 5%;
  rotate: -30deg;
  opacity: 0.8;
}
.flip-card-back #projectStuffBack {
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flip-card-back #projectStuffBack h2 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding-bottom: 5%;
}
.flip-card-back #projectStuffBack p {
  font-size: 1.5rem;
  font-weight: 400;
}
.flip-card-back #projIcon {
  width: 50%;
  opacity: 0.8;
  rotate: -20deg;
  position: absolute;
  bottom: -7%;
  right: -5%;
}
.flip-card-back ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  font-family: "Neucha", cursive;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  height: 100%;
  padding: 3px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #f7ebe8;
  padding: 0;
  opacity: 0.5;
}

#skillList {
  position: relative;
  font-family: "Oswald";
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200;
}

.mossgreen {
  background: #6c7d47;
}
.mossgreen #projectStuff {
  background: #6c7d47;
  rotate: 5deg;
}
.mossgreen #projectStuff:before {
  background-color: #acc12f;
}

.chocolate {
  background: #993955;
}
.chocolate #projectStuff {
  background: #993955;
  rotate: -2deg;
}
.chocolate #projectStuff:before {
  background-color: #993955;
}

.tangerine {
  background: #f18701;
}
.tangerine #projectStuff {
  background: #f18701;
  rotate: 2deg;
}
.tangerine #projectStuff:before {
  background-color: #f18701;
}

.flip-card-back.tangerine {
  background: url("/src/assets/screenshots/clickbaitBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.flip-card-back.iceblue {
  background: url("/src/assets/screenshots/orfuBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.flip-card-back.mossgreen {
  background: url("/src/assets/screenshots/loveselfBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.flip-card-back.chocolate {
  background: url("/src/assets/screenshots/joshBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.flip-card-back.chocolate h2, .flip-card-back.chocolate p {
  color: white !important;
}

.flip-card-back.brightpink {
  background: url("/src/assets/screenshots/portBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.flip-card-back.brightpink h2, .flip-card-back.brightpink p {
  color: white !important;
}

.iceblue {
  background: #6d72c3;
}
.iceblue #projectStuff {
  background: #6d72c3;
  rotate: 2deg;
}
.iceblue #projectStuff:before {
  background-color: #6d72c3;
}

.brightpink {
  background: #efbdeb;
}
.brightpink #projectStuff {
  background: #efbdeb;
  rotate: 6deg;
}
.brightpink #projectStuff:before {
  background-color: #efbdeb;
}

#pageTitle {
  padding: 2%;
  background: none !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  gap: 1rem;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  position: absolute;
  bottom: 0;
}
#pageTitle h1 {
  font-size: 3.5rem !important;
}
#pageTitle h2 {
  font-family: "Neucha", cursive;
  color: #f7ebe8;
}

#downArrow {
  background-image: url("/src/assets/ui-elements/downArrow3.svg/");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 1rem #fbfb98) drop-shadow(0 0 0.5rem #fbfb98) drop-shadow(0 0 1rem #6d72c3);
  animation: bob 1.5s ease-in-out infinite;
  cursor: pointer !important;
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.starfield {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden !important;
  background: radial-gradient(at bottom, #d47b82 10%, #2a1750 100%);
  background-size: 100% 100%;
  transition: opacity 2s ease-out;
}

.star {
  transition: box-shadow 2s ease-out;
}
.star:hover {
  box-shadow: 0px 0px 20px white, 0px 0px 5px white;
  transition: box-shadow 0.1s ease-in-out;
}

.starfield-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#skillsParent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  z-index: 9999;
  position: relative;
  width: 100%;
  margin: -4% auto;
  flex-wrap: wrap;
}

#skillContainer {
  width: 14%;
  height: auto;
  object-fit: contain;
  pointer-events: auto;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.skillWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: -15%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-family: "Oswald";
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  font-size: 1.5rem;
  animation: fadeIn 0.23s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logoContainerHovered {
  filter: drop-shadow(0 0 3rem rgb(255, 255, 255));
  transition: all 0.5s ease;
}

.logoContainer {
  transition: all 0.5s ease;
}

@keyframes newFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0;
  }
}
.sectionTitle {
  text-align: center !important;
  font-family: "Shorelines", cursive;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unset;
  overflow: visible;
  opacity: 0.5;
  color: white !important;
  font-size: 5rem;
  white-space: nowrap;
}

.rotate {
  rotate: -15deg;
}

.titleGlow {
  color: white;
  overflow: visible;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  animation: newFlicker 5s linear infinite;
}

#titleParent {
  position: relative;
  z-index: 9999;
}

.mainGlow {
  background-position: center center;
  background: radial-gradient(ellipse at center, rgba(251, 251, 152, 0.5411764706) 0%, rgba(255, 255, 255, 0) 60%);
  -webkit-text-stroke: 2px rgba(251, 251, 152, 0.7098039216); /* Outer glow color and size */
  text-shadow: 0 0 10px rgba(251, 251, 152, 0.6431372549), 0 0 20px #fbfb98, 0 0 30px #fbfb98;
}

.primaryGlow {
  background-position: center center;
  background: radial-gradient(ellipse at center, rgba(239, 189, 235, 0.5490196078) 0%, rgba(255, 255, 255, 0) 70%);
  -webkit-text-stroke: 2px rgba(239, 189, 235, 0.5490196078); /* Outer glow color and size */
  text-shadow: 0 0 10px #efbdeb, 0 0 20px #efbdeb, 0 0 30px #efbdeb;
}

.secondaryGlow {
  background: radial-gradient(ellipse at center, rgba(171, 193, 47, 0.662745098) 0%, rgba(255, 255, 255, 0) 70%);
  -webkit-text-stroke: 2px rgba(171, 193, 47, 0.4823529412); /* Outer glow color and size */
  text-shadow: 0 0 10px #acc12f, 0 0 20px #acc12f, 0 0 30px #acc12f;
}

.tertiaryGlow {
  background: radial-gradient(ellipse at center, rgba(169, 255, 246, 0.5568627451) 0%, rgba(255, 255, 255, 0) 70%);
  -webkit-text-stroke: 2px rgba(169, 255, 246, 0.5725490196); /* Outer glow color and size */
  text-shadow: 0 0 10px rgba(22, 115, 255, 0.6), 0 0 20px #a9fff7, 0 0 30px #a9fff7;
}

.audio-control {
  user-select: none;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/*# sourceMappingURL=App.css.map */
